<!DOCTYPE html>
<html lang="en">
<head>
    <title>Complaints</title>
    <link rel="stylesheet" href="./Complaints.css"/>
</head>
<body>
    <nav class="Navbar-container">
        <div class="Nav-heading">Navbar</div>
        <div class="nav-contents">
        <a class="Nav-menu-list" href="../../index.html">HOME</a>
        <a class="Nav-menu-list" href="../About/About.html">ABOUT</a>
        <a class="Nav-menu-list" href="../Login/Login.html">LOGIN</a>
        <a class="Nav-menu-list" href="../Services/Services.html">SERVICES</a>
        <a class="Nav-menu-list" href="../Complaints/Complaints.html">COMPLAINTS</a>
      </div>
      </nav>




    <footer>
        <div class="footer-container">
            <div class="footer-box">
            <div class="footer-heading"><p>More Info</p>
                <p class="footer-des">About Muncipalty Cleaning Hub
                </p>
            </div>

            <div class="footer-heading"><p>Terms & Use</p>
                <p class="footer-des">Use Policy
                    <br> Terms of Use 
                    <br>Privacy Notice
                    <br> Cookie Policy
                    <br> Customization Cookies
                </p>    
            </div>

            <div class="footer-heading"><p>HELP</p>
                <p class="footer-des">Queries or Complaints
                </p>     
            </div>

            <div class="footer-heading"><p>CONTACT</p>
                <p class="footer-des">Contact Us:1800 266 6282
                    <br> Email:Infomuncipalty@gmail.com
                    <br>SMS:'BCT hub'to 56161
                    <br>
                    Address:Maharashtra
                </p>
            </div>
        </div>
        
        <div class="footer-social">
        <a> <div class="social-icons">Insta</div></a>   
        <a><div class="social-icons">Facebook</div></a>    
        <a><div class="social-icons">YouTube</div></a>    
         <a>  <div class="social-icons">GitHub</div></a>    
            <div class="social-icons">copy@2023 muncipaltygov.com</div>
        </div>
            
        </div>
    </footer>
    
</body>
</html>