<!DOCTYPE html>
<head>
    <title>Footer</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="./Footer.css">
</head>
<body>
    <footer>
        <div class="footer-container">
            <div class="footer-box">
            <div class="footer-heading"><p>More Info</p>
                <p class="footer-des">About Muncipalty Cleaning Hub
                </p>
            </div>

            <div class="footer-heading"><p>Terms & Use</p>
                <p class="footer-des">Use Policy
                    <br> Terms of Use 
                    <br>Privacy Notice
                    <br> Cookie Policy
                    <br> Customization Cookies
                </p>    
            </div>

            <div class="footer-heading"><p>HELP</p>
                <p class="footer-des">Queries or Complaints
                </p>     
            </div>

            <div class="footer-heading"><p>CONTACT</p>
                <p class="footer-des">Contact Us:1800 266 6282
                    <br> Email:Infomuncipalty@gmail.com
                    <br>SMS:'BCT hub'to 56161
                    <br>
                    Address:Maharashtra
                </p>
            </div>
        </div>
        
        <div class="footer-social">
            <div class="social-icons">Insta</div>
            <div class="social-icons">Facebook</div>
            <div class="social-icons">YouTube</div>
            <div class="social-icons">GitHub</div>
            <div class="social-icons">copy@2023 muncipaltygov.com</div>
        </div>
            
        </div>
    </footer>
</body>
</html>